<div class="container py-4">
  <div>
    <h1 appResaltar>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde quod aliquam et repellendus consequatur eos
        possimus molestiae, quibusdam nobis error maxime autem incidunt neque, iste fugiat fuga nihil reprehenderit aut?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, repellat. Nam voluptates quae similique
        tempora accusamus eos temporibus, expedita eligendi et veritatis libero, illo perferendis voluptatibus obcaecati
        dignissimos quidem? Necessitatibus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure odit non repellat expedita cupiditate omnis est
        maxime. Soluta vel quas blanditiis eius architecto, vitae temporibus quasi deleniti, reprehenderit
        necessitatibus culpa!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt voluptas dolor esse dolorum excepturi et
        eaque omnis similique nemo quod mollitia quasi non, minus, atque reprehenderit. Dolorum, voluptates. Hic,
        voluptatum.
    </p>
    <div>
        <h2>La historia contada por voz</h2>
        <app-wave-audio audioUrl="/src/assets/audio.mp3"></app-wave-audio>
    </div>
</div>
</div>



<!-- <p>
    <app-counter [duration]="duration()" [message]="mesagge()"></app-counter>
</p> -->
